/* This container is for the entire background/base of the page. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('download.jpg');
    background-color: #1E1E24; 

}
li, a, button{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    font-size: 16px;
    list-style-type: upper-roman;
   
}
/* displays the header in flexbox with space between elements */
header{
    display: flex;
    justify-content: space-between;
}

#logo{
    color: rgba(9, 243, 165, 0.5);
    text-align: center;
    font-size: 40px;
    margin: 30px;
    font-family: 'Allura', cursive;
    }
#logoText
{
    font-size: 16px;
    opacity: 0.5;
    font-family: 'Vollkorn', serif;
}
h2{
    color: whitesmoke;
    font-family: 'Allura', cursive;

    font-size: 30px;
    text-decoration: underline;
}
h2:hover{
    transition: 1s;
    font-size: 100px;
    color: rgb(9, 243, 165);
    
}
p{
    font-size: 20px;
    font-family: 'Vollkorn', serif;
    color:#1E1E24;
}
/* stacks the items to the side of each other. */
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    
}

/* .nav__links li a{
    transition: ;
} */

.nav__links li a:hover{
    cursor: pointer;
    color: rgb(9, 243, 165);
    transition-duration: 1s;
    font-size: 25px;
}

.main__content{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    color: whitesmoke;
    width: 100%;
    padding: 0px 150px;
    
    
}

.about__content{
    height: 33%;
    justify-content: space-evenly;
}
.skills__content{
    height: 33%;
   
}
.work__content{
    height: 33%;    
}
#contact__btn{
    margin-right: 15px;
}

.buttons{
    font-size: 25px;
    margin: 30px;
    padding: 12px 28px;
    border-radius: 8px;
    color:rgb(9, 243, 165);
    background-color: #1E1E24;
    border: 2px solid gray;
    transition-duration: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(220, 209, 209, 0.2), 0 6px 20px 0 rgba(220,209,209,0.2);
    opacity: 0.5;
    font-family:'Allura', cursive;
}

.buttons:hover{
    cursor: pointer;
    color:#1E1E24;
    background-color: rgb(9, 243, 165);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.logo_images{
    height: 150px;
    opacity: 0.3;
    width: 250px;
}

.projects{
    height: 150px;
    width: 250px;
    background-color: #555;
    text-align: center;
    padding-top: 60px;
    font-family: 'Vollkorn', serif;
    text-decoration-color: aquamarine;
    opacity: 0.5; 
}
.projects a {
    color: rgb(9, 243, 165);
    font-size: 32px;
}

#profilePhoto{
  height: 150px;
  width: 200px;
    opacity: 0.5; 
    border: solid;
}




